@font-face {
  font-family: Aegean;
  src: url(Aegean.ttf);
}
body {margin-top:3em; margin-left:4em;}
textarea {font-size:20px; max-width:100%; font-family:Aegean;}
p {margin-top:1em; margin-left:1em; width:1000px; max-width:100%}
