@font-face {
  font-family: Aegean;
  src: url('Aegean.ttf');
}
body {margin-top:3em; margin-left:4em;}
ul {font-family:Aegean, sans-serif;}
textarea {font-size:20px; max-width:100%; font-family:Aegean, sans-serif;}
p {margin-top:1em; margin-left:1em; width:1000px; max-width:100%}
